<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1 style="color:red">

    Id:{{eid}}<br>
    Name:{{ename|capfirst}}<br>
    Salary:{{esal}}<br>
    Employee-Address:{{eadd}}<br>
    Designation:{{designation}}<br>

</h1>
<h2>

<h2>Employee Details</h2>

<table border="1" style="background-color:palevioletred">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>salary</th>
            <th>Employee-Address</th>
            <th>designation</th>

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{eid}}</td>
            <td>{{ename}}</td>
            <td>{{esal}}</td>
            <td>{{eadd}}</td>
            <td>{{designation}}</td>
        </tr>
        <!-- Add more rows as needed -->
    </tbody>
</table>

</h2>
</body>
</html>